/* ===== GENERAL ===== */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
  color: #F9FAF8;
  margin: 0;
  /* background-color: #1F2937; */
}

/* ===== HEADER ===== */
header {
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* ===== NAVIGATION ===== */
.nav {
  display: flex;
  height: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

li {
  padding: 10px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

a:visited {
  background-color: transparent;
  text-decoration: none;
}

/* ===== MAIN SECTION ===== */
main {
  background-color: #1F2937;
  height: auto;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex:1;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.left-content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  max-height: 100%;
  gap: 1rem;
}
.left-content p{
  flex-wrap: wrap;
}

.left-content button {
  width: 6rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #3882F6;
  color: #E5E7EB;
  font-size: 15px;
  font-weight: 550;
}

.right-content {


  background-color: #757575;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 50%;
  min-width: 25%;
  max-height: 75%;
  box-shadow: 5px 15px 15px 5px #1a232f;
}
.right-content img{
  height: auto;
  max-width: 100%;
}

/* ===== SECTION 2 ===== */
.section2-content {
  color: #1F2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:4rem;
}
.section2-content .cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 4rem;

}

.section2-content .card {
  width: 12rem;
  height: auto;
  display:flex;
  flex-direction: column;
  
  

  align-items: center;
  justify-content: center;
 
}
.section2-content p{
  color: #757575;
  text-align: center;
}
.section2-content .box{
  width: 10rem;
  height: 10rem;
  border-style: solid;
  border-color: #3881f6dc;
  border-width: 4px;
  border-radius: 18px;
}

.section3-content{
  background-color: #E5E7EB;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}
.section3-content .quote{
  padding: 6%;
  
}
.section3-content p{
  color: #1F2937;
  font-size: 2rem;
  font-weight: 300;
}
 /* Sign up bar */
.section4-content{
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

}

.section4-content .box{
  height: 7rem;

  background-color: #3882F6;
  border-radius: 10px;

  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;

  margin: 2rem;
  margin-right: 15rem;
  margin-left: 15rem;
}

.section4-content .box .left{
  margin-top: auto;
  margin-bottom: auto;
  padding: 1rem;



}
.left p{
  font-size: 1em;
}

.box .sign-up-button{
  display:flex;
  justify-content: center;
  align-items: cetner;
  margin: 4rem;

}
.box .sign-up-button button{
  width: 4rem;
}






footer{
  height: 5rem;
  background-color: #1a232f;
  display:flex;
  justify-content: center;
  align-items: center;

  min-height: 0px;
  text-align: center;
}

